client.pub
client.sec
server.pub
server.sec
compile_commands.json
test-nc
chatpriv
chat
chatd
.cache
obj/
.nfs*
__dec.c
__enc.c
enc
dec
keygen
*.o
*.generated.c
*.generated.h
test-parser
.DS_Store
/auth_command.h
/encryption.h
/logf.h
/read_line.h
/strings.h
/tweetnacl.h
/write_line.h
